html,
body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #f1f1f1;
}

.my-page {
    min-height: 1500px;
    position: relative;
    //padding: 10px;
}

.visible-xs {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.col-xs-6 {
    width: 50% !important;
}

@media screen and (max-width: 480px) {
    .col-xs-6 {
        width: 100% !important;
    }
}

.hidden {
    opacity: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

@media screen and (max-width: 767px) {
    html,
    body {
        min-width: 270px;
    }
    // same as hidden on sm , with this code we can hidden any block we want
    .must-hidden {
        display: none !important;
        height: 0px !important;
        width: 0px !important;
    }
    .container {
        max-width: none;
    }
}